body{
    
    background-color: black;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
main{
    flex-grow: 1;
   
}
.types{
         padding-top: 30vh;
         display: flex;
         flex-direction: column;
         position: absolute;
         z-index: 1;
         flex-wrap: wrap;
         gap: 30px;
         height: auto;
         border: 0;
         border-right: 1px;
         border-style: solid;
         border-color:  grey;
     
} 
.image{
   padding-left: 35vh;
   
}

   

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0 px;
    padding-bottom: 0 px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: " ";
    background-color: cyan;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left:0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
